<form [formGroup]="passwordForm">
  <input type="password" formControlName="password" (input)="checkPasswordStrength()">
  <div class="password-strength">
    <div class="strength easy red activeRed" [ngClass]="{ 'active': strength === 'easy' , 'activeRed': strength === 'red'}"></div>
    <div class="strength medium red activeRed" [ngClass]="{ 'active': strength === 'medium', 'activeRed': strength === 'red' }"></div>
    <div class="strength strong red activeRed" [ngClass]="{ 'active': strength === 'strong' , 'activeRed': strength === 'red'}"></div>
  </div>
</form>

